#layout-navbar,
#page-stats,
#page-components-links,
#page-highlights,
#page-snippet {
  margin-block: round(10vh, var(--size-gap));
}

#page-stats,
#page-components-links,
#page-highlights,
#page-snippet {
  max-width: var(--content-container-width);
  margin-inline: auto;
}

#page-stats {
  & ul {
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0;
    border: 1px solid var(--surface-auxiliary-border);
    border-radius: var(--size-radius);
    overflow: hidden;
  }

  & li {
    display: flex;
    flex-direction: column;
    gap: calc(var(--size-gap) * 1.5);
    padding: calc(var(--size-gap) * 4);
    border-inline-end: 1px solid var(--surface-auxiliary-border);
    border-block-end: 1px solid var(--surface-auxiliary-border);
    color: var(--surface-secondary-text);
  }

  & li:nth-child(2n) {
    border-inline-end: none;
  }

  & li:nth-child(n + 3) {
    border-block-end: none;
  }

  & .value {
    color: var(--surface-primary-text);
    font-size: clamp(
      calc(var(--size-text) * 1.6),
      3vw,
      calc(var(--size-text) * 2)
    );
    font-style: normal;
    font-family: var(--font-caveat);
    font-weight: 600;
  }

  @media (min-width: 880px) {
    & ul {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    & li {
      border-block-end: none;
    }

    & li:nth-child(2n) {
      border-inline-end: 1px solid var(--surface-auxiliary-border);
    }

    & li:last-child {
      border-inline-end: none;
    }
  }
}

#page-highlights {
  & ul {
    padding-inline: var(--content-container-padding);
    isolation: isolate;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: calc(var(--size-gap) * 8);
    list-style: none;

    @media (min-width: 680px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  & li {
    padding-block-end: calc(var(--size-gap) * 4);
    border-block-end: 2px solid var(--surface-auxiliary-border);
  }

  & li > :first-child {
    display: inline-block;
    font-family: var(--font-neuton);
    font-size: calc(var(--size-text) * 1.45);
    color: var(--surface-primary-text);
    margin-block-end: calc(var(--size-gap) * 3);
  }

  & li:nth-child(4n - 3) {
    border-color: light-dark(var(--colour-pink-200), var(--colour-pink-400));
  }

  & li:nth-child(4n - 2) {
    border-color: light-dark(
      var(--colour-orange-200),
      var(--colour-orange-400)
    );
  }

  & li:nth-child(4n - 1) {
    border-color: light-dark(var(--colour-blue-200), var(--colour-blue-400));
  }

  & li:nth-child(4n) {
    border-color: light-dark(var(--colour-red-200), var(--colour-red-400));
  }
}

#page-snippet {
  padding-inline: var(--content-container-padding);
  padding-block: var(--content-container-padding);
  border: 2px dashed var(--surface-auxiliary-border);
  border-radius: var(--size-radius);
  background: var(--surface-secondary-background);

  & > * + * {
    margin-block-start: calc(var(--size-gap) * 4);
  }

  & h2 {
    color: var(--surface-primary-text);
  }

  & p {
    color: var(--surface-secondary-text);
    margin-inline: auto;
    text-wrap: pretty;
  }
}
